#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#homedog {
  background-image: url("../images/doghome.jpg");
  background-size: cover;
  background-position: center; 

}

header h1 {
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 4rem;
  letter-spacing: -.06em;
  color: #751113;
  text-transform: uppercase;
  line-height: 85%;
}
/* #showDogs {
  display: block;
  margin: auto;
} */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #751113 !important;
  border-color: #751113 !important;
}

